{% extends "level1_founder.html" %}

{% block side %}
  <div class="list-group">
    <a href="/founder/assoc/{{ assoc_id }}/" class="list-group-item waves-effect">社团信息</a>
    <a href="/founder/assoc/{{ assoc_id }}/edit/" class="list-group-item waves-effect">社团信息编辑</a>
    <a href="/founder/assoc/{{ assoc_id }}/members/" class="list-group-item waves-effect">社员成员编辑</a>
    <a href="/founder/assoc/{{ assoc_id }}/bulletin/" class="list-group-item waves-effect">社团公告列表</a>
  </div>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-12"><h4>社团历史公告信息查看</h4></div>
    {% for message in messages %}
      <div class="col-12 mb-4">
        <p class="text-left">{{ message.bulletinMessage }}</p>
        <p class="text-right">发布时间：{{ message.createTime }}</p>
        <hr>
      </div>
    {% empty %}
      <div class="col-12">
        <p class="text-left">没有发布的公告。</p>
      </div>
    {% endfor %}
    <div class="col-9"></div>
    <div class="col-3">
      {% include "button_snippet.html" %}
    </div>
  </div>
{% endblock %}