{% extends "level1_founder.html" %}
{% block side %}

{% endblock %}

{% block main %}
  <div class="card-title"><h4>社团列表</h4></div>
  <div class="row">
    {% for assoc in assoc_list %}
      <div class="col-12">
        {% include "models/association.html" with assoc=assoc %}
      </div>
    {% empty %}
      <div class="col-12">
        <p>你还没有创建社团，点击按钮申请创建社团。</p>
      </div>
    {% endfor %}
    <div class="col-12">
      {% include "button_snippet.html" with button=button %}
    </div>
  </div>
{% endblock %}