main {
    text-align: center;
}

div.h-wrapper {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

div.container-fluid {
    max-width: 1200px;
}

.top-padder {
    min-height: 80px;
}

.bottom-padder {
    min-height: 70px;
}

.background-color-white {
    background: rgba(255, 255, 255, .5);
}

#index-card-body {
    position: absolute;
    top: 30%;
    height: 40%;
    left: 55%;
    width: 40%;
}